*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,html,#app{
  width: 100vw;
  height: 100vh;
}

ul {
  list-style-type: none; 
  padding-left: 0; 
}

a {
  color: black; /* 設置超連結的顏色 */

  text-decoration: none; /* 移除下劃線 */
}
